<section>
    <h1> {{title}} </h1>
</section>
<section *ngIf="userLoggedIn">
    <p>Welcome
        <a routerLink="profile">
            {{userLogged}}
        </a>
    </p>

</section>
<section *ngIf="!userLoggedIn">
    <p>User Login</p>
    <form [formGroup]="loginForm">
        <div>
            <input formControlName="username" type="text">
        </div>
        <div>
            <input formControlName="password" type="password">
        </div>
        <div>
            <button type="submit" (click)="submit()">Login</button>
        </div>
    </form>
</section>